.anbygif {
    width: 750px;
}

.CanbyGIF {
    text-align: center;
}
.Ctaquitos {
    text-align: center;
}
.primertitulo {
    text-align: center;
}
.Timg1 {
    text-align: center;
}
.Tgif1 {
    text-align: center;
}